@media (max-width: 1100px) {

  .work-experience-pattern > img,
  .education-experience-pattern > img,
  .about-pattern > img,
  .right-image-slide-thumb > img,
  .left-image-slide-thumb > img {
    height: 100%;
    max-width: inherit;
    position: absolute;
    width: auto;
  }
  .about-pattern > img {
    left: 0;
  }
  .skill-thumb-area > img {
    height: 100%;
    width: auto;
    max-width: inherit;
  }

}

/*--------------------------------------------------------------
  Tablet Device / Mini Destop
--------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {

  .larsia-menu-area nav ul li a {
      padding: 32px 7px;
  }
  .larsia-main-menu.fixedMenu .larsia-menu-area nav ul li a {
      padding: 25px 7px;
  }
  .img-wrap img {
      max-width: inherit;
      width: auto
  }
  .larsia-heading-left {
      margin-right: 6%;
      width: 28%
  }
  .left-image-slide-thumb img,
  .right-image-slide-thumb img {
      width: auto;
      height: 100%;
      max-width: inherit
  }
  .heading-title>h2 {
      font-size: 1.4em
  }
  .resume-section-title .larsia-heading-left i {
      left: -66px
  }
  .single-skill-percentage {
      width: 20%
  }
  .skill-heading h2 {
      width: 78%
  }
  .achievement-icon {
      margin-right: 5%;
      text-align: center;
      width: 20%
  }
  .achiement-details {
      float: right;
      width: 72%
  }
  .about-thumb-col {
    position: absolute;
    bottom: 0;
    left: 0
  }
  .about-thumb-left > img {
    max-width: 100%;
    width: auto;
  }
  .about-content-col {
    left: 50%;
  }
  .customNavigation {
    right: 2px;
  }
  .skill-thumb-area > img {
    height: 100%;
  }
  .skill-content-body li a {
    padding: 12px 0;
    width: 50px;
  }
  .work-experience-pattern,
  .education-experience-pattern {
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50%;
  }
  .work-experience-pattern > img,
  .education-experience-pattern > img,
  .about-pattern > img {
    height: 100%;
    max-width: inherit;
    position: absolute;
    width: auto;
  }
  .about-pattern > img {
    left: 0;
  }
  .award-thumb-area > img {
    position: absolute;
    z-index: 1;
    max-width: inherit;
    height: 100%;
  }
  .style-first-content.style-inner-content h2 {
    line-height: 1.2;
  }
  .get-my-works-if-you-need {
    text-align: center;
  }
  .get-work-button .larsia-btn {
    margin-top: 28px;
  }


} /*--- / END OF TABLE DEVICE LAYOUT ----*/


@media (min-width: 768px) {
  .larsia-menu-area nav {
      display: block !important;
  }

}

@media screen and (min-width: 519px) and (max-width: 767px) and (max-height: 480px) {

    .welcome-full {
      height: 380px !important;
    }
    .larsia-welcome-content {
      top: 92px !important;
    }
    .style-inner-content h2 {
      font-size: 3em;
    }
    .welcome-style-section {
      top: 85px !important;
    }
    .style-fourth-content.style-inner-content h2 {
      font-size: 3em;
    }
    .style-inner-content > p {
      margin: 20px auto 25px;
    }

}



/*--------------------------------------------------------------
  Wide Mobile Layout:
--------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .about-content-col {
    left: 0;
  }
  .about-thumb-col {
    bottom: 0;
    position: relative;
  }
  .main-logo {
    width: 18%;
  }
  .main-logo a {
    height: 42px;
    margin-top: 16px;
  }
  .about-descrtioption-right {
    margin-top: 50px;
    padding-left: 20px;
    text-align: left;
  }
  .about-pattern {
    display: none;
  }
  .extra-about-content {
    width: 90%;
  }
  .skill-thumb-area {
    bottom: -24px;
    height: 50%;
    right: 0;
    top: inherit;
    width: 100%;
  }
  .expertise-skill-area {
    overflow: hidden;
  }
  .work-experience-pattern,
  .education-experience-pattern {
    display: block;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    height: 350px;
  }
  #larsia-section-eduction .single-resume-main-content {
    padding-bottom: 45px;
    padding-left: 70px;
    padding-right: 0;
  }
  .work_customNavigation {
    left: 3%;
  }
  #larsia-section-eduction .work_customNavigation {
    right: inherit;
    left: 3%;
  }
  .award-thumb-area {
    height: 51%;
    width: 100%;
  }
  .promo-services-description {
    border-bottom: 0px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .single-service-promo {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .larsia-portfolio-nav {
    margin: auto;
    width: 70%;
  }
  #filters li {
    display: block;
    margin: 4px 0;
  }
  .single-clients-logo {
    padding: 22px 0 17px;
  }
  .testimonial-area-main .owl-carousel {
    padding-top: 20px;
  }
  .testimonial-slide-right-main {
    width: 57%;
  }
  .quoter-details {
    padding-bottom: 20px;
  }
  .testimonial-slide-right-main blockquote::before {
    font-size: 2em;
    left: -42px;
  }
  .contact-area-top p {
    margin-bottom: 25px;
  }
  .larsia-main-contact-form-section {
    margin: 0 0 60px;
  }
  .work-experience-pattern > img, 
  .education-experience-pattern > img,
  .about-pattern > img,
  .skill-thumb-area > img {
    height: auto;
    max-width: inherit;
    position: absolute;
    width: 100%;
  }
  .all-resume-bar-area {
    padding: 75px 0 0;
  }
  .style-inner-content > p {
    width: 80%;
  }
  .style-inner-content .follow-me-social-links a {
    height: 60px;
    line-height: 60px;
    width: 60px;
  }
  .larsia-style-2 .welcome-pattern {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
  }
  .welcome-img-bg-pattern {
    display: none;
  }
  .larsia-style-1 .welcome-full {
    height: inherit !important;
    padding-bottom: 40px;
  }
  .about-descrtioption-right > img {
    float: none;
    display: block;
  }
  .get-my-works-if-you-need {
    text-align: center;
  }
  .get-work-button .larsia-btn {
    margin-top: 28px;
  }
  .larsia-style-1 .welcome-img img {
    width: 65%;
    margin: 0 auto 25px auto;
  }
  .larsia-style-1 .larsia-single-column.about-me-desc {
    padding-top: 0;
  }
  .larsia-style-1 .welcome-table-cell {
    padding-bottom: 41px;
    padding-left: 0;
    padding-top: 10px;
    position: relative !important;
    top: inherit !important;
    width: 100%;
    z-index: 2;
  }
  .style-first-content.style-inner-content h2 {
    line-height: 1;
  }
  .larsia-welcome-content h2 {
    font-size: 2em
  }
  .larsia-heading-left {
      float: none;
      margin-right: 0;
      width: 100%
  }
  .larsia-heading-left::before {
      display: none
  }
  .larsia-heading-right {
      float: none;
      width: 100%;
      margin-top: 70px;
  }
  .single-larsia-section-heading {
      padding-bottom: 60px;
      padding-top: 120px;
  }
  .larsia-heading-left i {
      top: -70%;
  }
  .about-me-in-details {
      width: 100%
  }
  .larsia-my-promo-services {
      margin-bottom: 0
  }
  .my-services-slider.owl-carousel.owl-theme {
      padding-left: 0
  }
  .left-image-slide-thumb,
  .right-image-slide-thumb {
      position: relative;
      width: 100%
  }
  .larsia-download-section>h2 i {
      font-size: 2.5em;
      position: absolute;
      top: -66px;
      width: 80px;
      left: 50%;
      margin-left: -40px
  }
  .larsia-download-section>h2 {
      font-size: 1.2em;
      line-height: 1.5
  }
  .larsia-follow-me-section ul li {
      display: inline-block;
      margin: 5px 0 15px;
      width: 32%
  }
  .img-wrap img {
      max-width: inherit;
      width: auto
  }
  .resume-candle-preview {
      position: relative;
      margin: 20px 0
  }
  .single-resume-candle {
      margin-top: 25px
  }
  .resume-section-title .larsia-heading-left i {
      left: -25px;
      top: -75px
  }
  .customNavigation {
      right: 35px;
  }
  .single-achievment {
      width: 50%;
      float: left;
      text-align: center;
      min-height: 155px;
  }
  .achiement-details {
      width: 100%;
  }
  .achiement-details > h2 {
      font-size: 1.2em;
  }
  .single_contact_column_btn {
    text-align: center;
  }
  .resume-candle-preview {
      border: 0 solid
  }
  .canle-icon {
      border: 1px solid;
      padding: 10.5px 10px
  }
  .canle-txt {
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-right: 1px solid
  }
  .skill-heading h2 {
      float: none;
      width: 100%
  }
  .single-skill-percentage {
      border: 0 solid;
      float: none;
      width: 45%
  }
  .achievement-table-cell {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      margin-top: 30px;
      margin-bottom: 40px
  }
  .awards-area-layer {
      display: none
  }
  .award-bg {
      background-color: rgba(255, 255, 255, .85)
  }
  .achievement-icon {
      float: none;
      margin-right: 0;
      text-align: center;
      width: 100%;
      margin-bottom: 8px
  }
  .larsia-awards-content {
      padding: 30px 0 0
  }
  .larsia-welcome-content h2 span {
      line-height: 1.5
  }
  #filters li {
      display: block;
      margin-right: 0
  }
  .larsia-portfolio-nav li::before {
      display: none
  }
  .larsia-portfolio-nav li:hover span {
      transform: translateY(0);
      -webkit-transform: translateY(0)
  }
  .larsia-portfolio-nav li.selected,
  .larsia-portfolio-nav li:hover {
      background-color: #333;
      color: #FFF
  }
  .promo-thumb img {
      margin: auto;
      width: 80%;
      display: block
  }
  .promo-description h2 {
      line-height: 1.3
  }
  .promo-table-area {
      margin-top: 30px;
      padding-left: 0
  }
  .larsia-single-column.promo-video-page {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      background-size: cover
  }
  .testimonial-slide-right-main {
      padding-left: 0;
      position: relative;
      right: 0;
      top: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      width: 65%;
      float: right;
  }
  .single-testimonial-item {
      padding-top: 0
  }
  .testimonial-slide-left {
      bottom: 0;
      float: left;
      margin-right: 0;
      position: absolute;
      width: 30%
  }
  .testimonial-slide-right-main blockquote {
      margin-bottom: 25px
  }
  .submit-button-man {
      margin-right: 20px;
  }
  .larsia-welcome-content::before {
      width: 125px
  }
  .menu_responsive_init {
      display: block
  }
  .larsia-menu-area nav {
      float: left;
      margin-top: 30px;
      overflow: hidden;
      padding-bottom: 10px;
      text-align: left;
      width: 100%;
      display: none
  }
  .larsia-menu-area nav ul li {
      display: block
  }
  .larsia-main-menu.fixedMenu .larsia-menu-area nav ul li a,
  .larsia-menu-area nav ul li a {
      padding: 17px 12px
  }
  .larsia-menu-area {
      padding-bottom: 15px
  }
  .larsia-main-menu.fixedMenu .main-logo a {
      margin-top: 18px
  }
  .single-skill-percentage {
      margin-bottom: 15px
  }
  .single-skill-percentage .canle-icon {
      padding: 10.4px 10px
  }
  .count-right {
      float: none;
      width: auto;
      display: inline-block;
      margin-left: 20px
  }
  .counter-left {
      display: inline-block;
      float: none;
      width: auto
  }
  .single-counter {
      margin: 20px 0;
      overflow: hidden;
      text-align: left;
      padding-left: 35%
  }
  .larsia-menu-area nav ul {
    height: 260px;
    overflow-y: auto;
  }
.style-first-content.style-inner-content h2 {
    font-size: 2.8em;
    text-align: center;
}
.welcome-img {
    text-align: center;
}
.style-inner-content h3 {
    display: block;
    margin-top: 10px;
    text-align: center;
}
.welcome-table-cell {
    text-align: center;
}
.resume-table-cell h2 {
    font-size: 2.8em;
}
.btn-bg-white {
  padding: 10px 25px;
}
.achievement-table-cell {
    padding-right: 0px;
    padding-top: 0;
}
.counter-column {
    width: 50%;
}
.counter-left i {
    font-size: 3.7em;
}
.count-right h2 {
    font-size: 2.4em;
}
.single-counter {
    padding-left: 15%;
}
.services_promo {
    margin-top: 50px;
}
.get-my-service-if-you-need {
    padding: 80px 0px;
}
.contact-form-pattern {
  display: block;
  height: 350px;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}
.larsia-contact-form-area {
  padding: 40px 0;
}
.contact-form-pattern .resume-table-cell > h2::before {
  left: 22%;
  top: 0;
}


} /*--- / END OF WIDE MOBILE LAYOUT ----*/


/*--------------------------------------------------------------
  Small Mobile Layout
--------------------------------------------------------------*/
@media (max-width: 479px) {
  .contact-form-pattern .resume-table-cell > h2::before {
    display: none;
  }
  .main-logo {
    width: 18%;
  }
  .welcome-img {
      text-align: center;
  }
  .style-first-content.style-inner-content h2 {
    font-size: 2.2em;
    text-align: center;
  }
.style-inner-content h3 {
    display: block;
    margin-top: 6px;
    text-align: center;
}
.welcome-table-cell {
    text-align: center;
}
h3, .h3 {
    font-size: 20px;
}
h2, .h2 {
    font-size: 26px;
}
.about-descrtioption-right {
    padding-left: 0px;
}
.larsia-download-section ul li {
    display: block;
    margin: 8px 5px;
    text-align: center;
}
.achievement-table-cell {
    padding-right: 0px;
    padding-top: 0;
}
.get-my-service-if-you-need {
    padding: 80px 0px;
}
.get-my-service-if-you-need > h2 {
    font-size: 2em;
}
.get-my-service-if-you-need > p {
    width: 100%;
}
.get-my-service-if-you-need li {
    margin: 5px 0;
}
#larsia-section-blog .work_customNavigation {
    position: static;
    width: 290px;
    float: none;
    margin: auto;
}
.larsia-style-1 .welcome-full {
  height: inherit !important;
  padding-bottom: 40px;
}
.about-descrtioption-right .larsia-btn {
  display: block;
  width: 280px;
  text-align: center;
}
.get-my-works-if-you-need {
  text-align: center;
}
.get-work-button .larsia-btn {
  margin-top: 28px;
}
.larsia-style-1 .welcome-img img {
  width: 65%;
  margin: 0 auto 25px auto;
}
.blog_pagination .larsia-btn {
  padding: 10.8px 20px;
  width: auto;
}
.about-descrtioption-right > img {
  display: block;
  margin: auto;
}
.about-descrtioption-right > a.larsia-btn {
  display: block;
  margin: auto;
  text-align: center;
}
#larsia-section-blog .work_customNavigation .skill-btn.blog_prev {
  float: left;
  margin: 0;
}
#larsia-section-blog .work_customNavigation .skill-btn.blog_next {
  float: right;
  margin: 0;
}
#larsia-section-blog .work_customNavigation {
  margin: 15px auto auto;
}
.contact-form-pattern {
  display: block;
  height: 350px;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}
.larsia-contact-form-area {
  padding: 40px 0;
}
  .btn-bg-white {
    padding: 10px 25px;
  }
  .about-content-col {
    left: 0;
  }
  .about-thumb-col {
    bottom: 0;
    position: relative;
  }
  .main-logo a {
    height: 42px;
    margin-top: 16px;
  }
.resume-table-cell h2 {
    font-size: 2.2em;
}
  .about-pattern {
    display: none;
  }
  .extra-about-content {
    width: 90%;
  }
  .skill-thumb-area {
    display: none;
  }
  .expertise-skill-area {
    overflow: hidden;
  }
  .work-experience-pattern,
  .education-experience-pattern {
    display: block;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    height: 350px;
  }
  #larsia-section-eduction .single-resume-main-content {
    padding-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
  }
  #larsia-section-eduction .work_customNavigation {
    left: 0;
    right: 0;
    bottom: 0;
  }
  .award-thumb-area {
    height: 51%;
    width: 100%;
  }
  .promo-services-description {
    border-bottom: 0px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .single-service-promo {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .larsia-portfolio-nav {
    margin: auto;
    width: 70%;
  }
  #filters li {
    display: block;
    margin: 4px 0;
  }
  .single-clients-logo {
    padding: 22px 0 17px;
  }
  .testimonial-area-main .owl-carousel {
    padding-top: 20px;
  }
  .testimonial-slide-right-main {
    width: 57%;
  }
  .quoter-details {
    padding-bottom: 20px;
  }
  .testimonial-slide-right-main blockquote::before {
    font-size: 2em;
    left: -42px;
  }
  .contact-area-top p {
    margin-bottom: 25px;
  }
  .larsia-main-contact-form-section {
    margin: 0 0 60px;
  }
  .extra-about-icon i {
    bottom: 71px;
    font-size: 9em;
    right: inherit;
    left: 0;
  }
  .skill-content-body li a {
    background-color: #fff;
    padding: 8px 0;
    width: 40px;
  }
  .work_customNavigation .skill-btn {
    display: inline-block;
  }
  .customNavigation.work_customNavigation {
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  .resume-candle-bar {
    padding-right: 20px;
  }
  .single-resume-main-content {
    padding-left: 0;
  }
  .work-experience-content {
    padding-left: 0;
  }
  .award-bg {
    z-index: 4;
  }
  .about-thumb-left > img {
    max-width: 100%;
  }
  .award-thumb-area > img {
    height: 100%;
  }
  .work-experience-pattern > img, 
  .education-experience-pattern > img,
  .about-pattern > img,
  .skill-thumb-area > img {
    height: auto;
    max-width: inherit;
    position: absolute;
    width: 100%;
  }
  .all-resume-bar-area {
    padding: 75px 0 0;
  }
  .style-inner-content > p {
    width: 90%;
    margin: 25px auto 33px;
  }
  .style-fourth-content.style-inner-content h2 {
    font-size: 3em;
  }
  .style-inner-content .follow-me-social-links a {
    height: 50px;
    line-height: 50px;
    width: 50px;
  }
  .welcome-img-bg-pattern {
    display: none;
  }
  .larsia-style-1 .welcome-full {
    height: inherit !important;
  }
  .larsia-style-1 .larsia-single-column.about-me-desc {
    padding-top: 0;
  }
  .larsia-style-1 .welcome-table-cell {
    padding-bottom: 41px;
    padding-left: 0;
    padding-top: 10px;
    position: relative !important;
    top: inherit !important;
    width: 100%;
    z-index: 2;
  }
  .style-first-content.style-inner-content h2 {
    line-height: 1;
  }
  .style-inner-content h2 {
    font-size: 3em;
    margin: 15px 0 0;
    text-transform: uppercase;
  }
  .style-second-content.style-inner-content h3 {
    padding: 11px 8px;
    width: 95%;
  }
  .style-sixth-content.style-inner-content h4 {
    max-width: 95%;
  }
  .style-seventh-content.style-inner-content h2 {
    font-size: 4em;
  }
  .larsia-style-2 .welcome-pattern {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
  }
  #larsia-section-award {
      overflow: hidden;
      max-width: 100%;
  }
  .single-larsia-section-heading {
    padding-bottom: 40px;
    padding-top: 85px;
  }
  .services_promo {
    margin-top: 50px;
}
  .testimonial-slide-right-main blockquote {
      float: none;
      margin-bottom: 55px;
      overflow: hidden;
      width: 100%
  }
  .larsia-welcome-content h2 {
      font-size: 2em
  }
  .larsia-heading-left {
      float: none;
      margin-right: 0;
      width: 100%
  }
  .larsia-heading-left::before {
      display: none
  }
  .heading-title>h2 {
    
  }
  .larsia-heading-right {
      float: none;
      width: 100%;
      margin-top: 40px
  }
  .about-me-in-details {
      width: 100%
  }
  .larsia-my-promo-services {
      margin-bottom: 0
  }
  .my-services-slider.owl-carousel.owl-theme {
      padding-left: 0
  }
  .left-image-slide-thumb,
  .right-image-slide-thumb {
      position: relative;
      width: 100%
  }
  .larsia-download-section>h2 i {
      font-size: 2.5em;
      position: absolute;
      top: -66px;
      width: 80px;
      left: 50%;
      margin-left: -40px
  }
  .larsia-download-section>h2 {
      font-size: 1.2em;
      line-height: 1.5
  }
  .larsia-follow-me-section ul li {
      display: inline-block;
      margin: 15px 0 30px;
      width: 32%
  }
  .larsia-follow-me-section {
      padding: 100px 0
  }
  .img-wrap img {
      max-width: inherit;
      width: auto
  }
  .resume-candle-preview {
      position: relative;
      margin: 20px 0
  }
  .single-resume-candle {
      margin-top: 25px
  }
  .resume-section-title .larsia-heading-left i {
      left: -25px;
      top: -40px
  }
  .resume-candle-preview {
      border: 0 solid
  }
  .canle-icon {
      border: 1px solid;
      padding: 10.5px 10px
  }
  .canle-txt {
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-right: 1px solid
  }
  .skill-heading h2 {
      float: none;
      width: 100%
  }
  .single-skill-percentage {
      border: 0 solid;
      float: none;
      width: 45%
  }
  .single-skill-percentage .canle-icon {
      padding: 10.3px 10px
  }
  .achievement-table-cell {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      margin-top: 30px;
      margin-bottom: 40px
  }
  .awards-area-layer {
      display: none
  }
  .award-bg {
      background-color: rgba(255, 255, 255, .85)
  }
  .achievement-icon {
      float: none;
      margin-right: 0;
      text-align: left;
      width: 100%;
      margin-bottom: 8px
  }
  .larsia-awards-content {
      padding: 30px 0 0
  }
  .larsia-welcome-content h2 span {
      line-height: 1.5
  }
  #filters li {
      display: block;
      margin-right: 0;
      margin-bottom: 4px
  }
  .larsia-portfolio-nav li::before {
      display: none
  }
  .larsia-portfolio-nav li:hover span {
      transform: translateY(0);
      -webkit-transform: translateY(0)
  }
  .larsia-portfolio-nav li.selected,
  .larsia-portfolio-nav li:hover {
      background-color: #333;
      color: #FFF
  }
  .promo-thumb img {
      margin: auto;
      width: 80%;
      display: block
  }
  .promo-description h2 {
      line-height: 1.3
  }
  .promo-table-area {
      margin-top: 30px;
      padding-left: 0
  }
  .single-counter {
      margin: 30px 0
  }
  .larsia-single-column.promo-video-page {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -o-background-size: cover;
      background-size: cover
  }
  .testimonial-slide-right-main {
      padding-left: 0;
      position: relative;
      right: 0;
      top: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      width: 100%
  }
  .single-testimonial-item {
      padding-top: 0
  }
  .testimonial-slide-left {
      bottom: 0;
      float: none;
      margin-right: 0;
      position: absolute;
      width: 40%
  }
  .submit-button-man {
      margin-bottom: 10px;
      margin-right: 0px;
      float: none;
  }
  .view-google-map {
      float: none;
      display: inline-block;
  }
  .larsia-welcome-content::before {
      background-size: 100% auto;
      height: 63px;
      left: 50%;
      margin-left: -25px;
      top: -65px;
      width: 50px
  }
  .first_welcome_text {
      font-size: 2em
  }
  .menu_responsive_init {
      display: block
  }
  .larsia-menu-area nav {
      float: left;
      margin-top: 30px;
      overflow: hidden;
      padding-bottom: 10px;
      text-align: left;
      width: 100%;
      display: none
  }
  .larsia-menu-area nav ul li {
      display: block
  }
  .larsia-main-menu.fixedMenu .larsia-menu-area nav ul li a,
  .larsia-menu-area nav ul li a {
      padding: 17px 12px
  }
  .larsia-menu-area {
      padding-bottom: 8px
  }
  .larsia-main-menu.fixedMenu .main-logo a {
      margin-top: 8px
  }
  .contact-section-content .larsia-heading-left i {
      font-size: 8em;
      left: -43px;
      top: -16%
  }
  .main-logo {
      float: left;
      width: 25%
  }
  .menu_responsive_init {
      margin-top: 11px
  }
  .larsia-heading-left i {
      font-size: 10em;
      top: -49%
  }
  .single-item-services>h2 {
      line-height: 1.3
  }
  .larsia-welcome-content.animateBefore::after {
      right: 20%;
      width: 60%;
      height: 1px;
      bottom: -15px;
      top: auto;
  }
  #backToTop>a {
      border-radius: 1px;
      bottom: 12px;
      font-size: 1.5em;
      padding: 9px 12px;
      right: 12px
  }
  .larsia-footer::after {
      opacity: 0.5;
  }
  .single-expternal-portfolo {
      display: block;
      padding-bottom: 35px;
      padding-top: 35px;
      position: relative;
      margin: 5px 0;
  }
  .skill-btn {
      margin: 5px 0px;
  }
  .customNavigation {
      right: 20px;
      bottom: 46px;
  }
  .counter-column {
      padding-bottom: 25px;
      padding-top: 25px;
  }
  .single_contact_column_btn {
      text-align: center;
  }
  .follow-me-social-links a {
  background-color: #4d4c4a;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
  .about-descrtioption-right {
    text-align: center;
  }

} /*--- / END OF SMALL MOBILE LAYOUT ----*/



/*--------------------------------------------------------------
  Extra Small Mobile Layout
--------------------------------------------------------------*/
@media (max-width: 320px) {

  .btn-text {
      width: 100%;
      border-right: 1px solid
  }
  .hire-me-or-resume-download li {
    width: 100%;
  }
  .btn-text::after {
    border-right: 0px solid;
  }
  .larsia-btn {
    width: 100%;
  }
  .skill-content-body {
    padding-left: 10px;
  }
  .all-resume-bar-area {
    padding: 75px 0 0;
  }
  .style-second-content.style-inner-content h3 {
    padding: 11px 8px;
    width: 95%;
  }
  .style-inner-content > p {
    font-size: 17px;
    margin: 21px auto 34px;
    width: 100%;
  }
  .style-fourth-content.style-inner-content h2 {
    font-size: 2em;
  }
  .popup-vimeo {
    width: 98%;
  }
  .btn-icon {
      display: none
  }

  .larsia-download-section ul li {
      display: block;
      margin: 8px 5px;
      text-align: center;

  }
  .btn-bg-white {
    padding: 10px 25px;
}
.get-my-service-if-you-need li {
    display: block;
}
  .larsia-follow-me-section ul li {
      width: 46%
  }
  .larsia-footer-content h2 {
      line-height: 1.3
  }
  .canle-txt {
      padding: 12px 7px
  }
  .submit-button-man {
      float: none;
      width: 100%;
      margin-bottom: 15px
  }
  .submit-button-man .larsia-btn {
      display: block
  }
  .achiement-details {
      width: 100%
  }
  .fetured-service-heading h2 {
      font-size: 1em
  }
  .fetured-service-heading p {
      font-size: .9em
  }
  .canle-icon {
      padding: 12.5px 10px;
      display: block;
      float: none;
      width: 100%
  }
  .canle-txt {
      border-left: 1px solid;
      display: block;
      float: none;
      margin-bottom: 15px;
      margin-top: 5px;
      width: 100%
  }
  .single-skill-percentage {
      border: 0 solid;
      float: none;
      margin: auto;
      width: 50%
  }
  .single_contact_column_btn {
      text-align: center;
  }
  .view-google-map {
      display: inline-block;
      float: none;
  }
  .counter-column {
      padding-bottom: 20px;
      padding-top: 20px;
  }
  .larsia-welcome-content {
      width: 65%;
  }


} /*--- / END OF EXTR SMALL MOBILE LAYOUT ----*/